@charset "utf-8";

body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  font-family: sans-serif; }

ul, ol { list-style: none;}

.game {
  display: block;
  padding: 0px;
  width: 720px;
}
.canvas {
  display: inline-block;
  border: thin solid #adb;
  width: 80%;
  padding-left: 0px;
  margin-left: 0px;
  position: absolute;
}
.canvas strong {
  color: rgba(0, 0, 0, .3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  padding: 50px 0 50px;
  margin: 0;
  width: 100%;
  display: block;
  }

.canvas ul,
.canvas ul li {
  display: inline-block;
  font-weight: normal;
}
.canvas > ul {
  width: 100%;
  position: absolute;
}
.canvas > ul > li {
  width: 5em;
  padding-right: 5em;
  vertical-align: top;
  min-height: 10ex;
}
.canvas > ul > li :link,
.canvas > ul > li :visited {
  display: block;
  width: 10em;
  padding-top: 5ex;
  padding-bottom: 5ex;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.canvas > ul > li :link {
  color: #94b;

}
.canvas > ul > li :visited {
  color: #769;
}
.canvas ul li ul {
  /*margin-left: -9em;
  margin-bottom: -6ex;
  padding-top: 2ex;
  display: block;*/
}

.canvas li {
  border: thin solid #999;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #aaa;
  width: 6em;
}

.canvas li.add {
  background: #a99;
}
.canvas li.add:hover {
  background: #daa;
  box-shadow: 2px 2px 4px #aaa;
  border-color: transparent;
}

.canvas li.remove {
  background: #9a9;
}
.canvas li.remove:hover {
  background: #ada;
  border-color: transparent;
}

.canvas li.change {
  background: #99a;
}
.canvas li.change:hover {
  background: #aad;
  border-color: transparent;
}

.game.not-yet-won .win-screen {
  display: none;
}

.game .win-screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 40em;
  z-index: 100;
  background: white;
}

.game .win-screen h1, p {
  padding-top: auto;
  padding-bottom: auto;
  font-size: 200%;
}

dl.status {
  font-size: 14px;
  margin: 0; }
  dl.status dt,
  dl.status dd {
    display: inline-block;
    max-width: 10em;
    min-width: 5em;
  }
  dl.status dt {
    font-weight: bold;
  }
  dl.status dd {
    margin-right: 4em;
    text-transform: uppercase;
  }
.sidebar {
  float: right;
}
.boosters {
  text-transform: uppercase;
}
