---
title: Evolving words
---
<h1>Evolving Words</h1>
<div class="game level-cell">
  <dl class="status">
  	<dt>Life</dt>
  	<dd>33</dd>
  	
  	<dt>Next stage</dt>
  	<dd>AMOEBA</dd>
  </dl>
  <div class="canvas">
  	<strong class="current-word">HE<em class="bonus">ART</em></strong>
  	<ul>
  		<li>...</li>
  		<li><span class="word">hear</span>
  			<ul>
	  			<li>ear</li>
	  			<li>head</li>
  			</ul>
  		</li>
  		<li><span class="word">heard</span>
  			<ul>
	  			<li>hard</li>
	  			<li>herd</li>
	  			<li>beard</li>
  			</ul>
  		</li>
  		<li><span class="word">hearth</span>
  			<ul>
	  			<li>earth</li>
	  			<li>hearty</li>
  			</ul>
  		</li>
  	</ul>


  </div>
  <div class="sidebar">
  	Boosters:
  	<ul class="boosters">
  		<li>DNA</li>
  		<li>LOVE</li>
  		<li>ART</li>
  	</ul>
  </div>
    
  </div>
</div>