---
title: Evolving words
---

<h1>Evolving Words</h1>
<div class="game level-cell not-yet-won">
  <dl class="status">
  	<dt>Life</dt>
  	<dd>33</dd>
  	
	<dt>Next stage:
		<audio id="level-up" preload="auto">
  			<source src="audio/levelup1.wav" />
  			<source src="audio/levelup1.mp3" />
		</audio>
	</dt>
	<dd id="next-stage">AMOEBA</dd>
  </dl>
  <div class="canvas">
  	<strong class="current-word">
  		<span class="letter">H</span>
  		<span class="letter">E</span>
  		<span class="letter">A</span>
  		<span class="letter">R</span>
  		<span class="letter">T</span>
  	</strong>
  	<ul>
  		<li>...</li>
  		<li><span class="word">hear</span>
  			<ul>
	  			<li>ear</li>
	  			<li>head</li>
  			</ul>
  		</li>
  		<li><span class="word">heard</span>
  			<ul>
	  			<li>hard</li>
	  			<li>herd</li>
	  			<li>beard</li>
  			</ul>
  		</li>
  		<li><span class="word">hearth</span>
  			<ul>
	  			<li>earth</li>
	  			<li>hearty</li>
  			</ul>
  		</li>
  	</ul>

  </div>
  <div class="sidebar">
  	<p class="hint">Change one letter at a time to evolve to the next stage.</p>
  	<audio class="wordchange" preload="auto">
  		<source src="audio/wordchange1.wav" />
  		<source src="audio/wordchange1.mp3" />
  	</audio>

  	Boosters:
  	<audio class="boosters" preload="auto">
  		<source src="audio/bonus1.wav">
  		<source src="audio/bonus1.mp3">
  	</audio>
  	<ul class="boosters">
  		<li>DNA</li>
  		<li>LOVE</li>
  		<li>ART</li>
  	</ul>
  </div>

  <div class="win-screen">
	<audio class="win-game" preload="auto">
		<source src="audio/win1.wav" />
		<source src="audio/win1.mp3" />
	</audio>
	<h1>Congratulations!</h1>
	<p>You have evolved into a
		<strong class="current-word">PLACEHOLDER</strong>.
	</p>
	<p>You are strong and powerful, and will surely rule the world!</p>
  </div>
</div>